#https://registry.npmjs.org
registry=https://registry.npmmirror.com/
strict-peer-dependencies=false

sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips